
{% block content %}
			<div class="Personnal_Title_Container">
				<h1 class="Perso_title">
					Bonjour
					<b style="text-transform:uppercase;">
						{{ app.user.firstname }}
					</b>
					!
				</h1>
				<p>
					Bienvenue dans votre espace personnel
				</p>
			</div>
			<div class="Personnal_Nav_Container">

				<h4>
					STATUT DE L'AGENT
				</h4>
				<ul>
					<li>
						<span class="Statut_List_Title">Catégorie :
						</span>
						{{ app.user.Categorie }}</li>
					<li>
						<span class="Statut_List_Title">Grade :</span>
						{{ app.user.Grade }}
					</li>
					<li>
						<span class="Statut_List_Title">Service :</span>
						{{ app.user.Service }}
					</li>
					<li>
						<span class="Statut_List_Title">Poste occupé :</span>
						{{ app.user.Poste }}
					</li>
				</ul>
				<h4>
					NAVIGATION
				</h4>
				<br>
				<nav class=" account_navbar ">
					<div class="navbar-items">
						<div id="account_icons">
							<i class="fa-solid fa-house"></i>
						</div>
						<a class="btn-primary btn" id="v-pills-home-tab" data-bs-toggle="pill" data-bs-target="#v-pills-home" type="button" role="tab" aria-controls="v-pills-home" aria-selected="true" href="{{ path('app_account') }}">Tableau de bord</a>
					</div>
					<hr/>
					<div class="navbar-items">
						<div id="account_icons">
							<i class="fa-solid fa-calendar-days"></i>
						</div>
						<button class="btn-primary btn" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="false">Mon Planning</button>
					</div>
					<hr/>
					<div class="navbar-items">
						<div id="account_icons">
							<i class="fa-solid fa-brain"></i>
						</div>
						<button class="btn-primary btn" id="v-pills-messages-tab" data-bs-toggle="pill" data-bs-target="#v-pills-messages" type="button" role="tab" aria-controls="v-pills-messages" aria-selected="false">Mes formations</button>
					</div>
					<hr/>
					<div class="navbar-items">
						<div id="account_icons">
							<i class="fa-solid fa-phone"></i>
						</div>
						<a class="btn-primary btn" id="v-pills-settings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-settings" type="button" role="tab" aria-controls="v-pills-settings" aria-selected="false" href="{{ path('app_astreintes') }}">Astreintes</a>
					</div>
					<hr/>
				</nav>
			</div>
{% endblock %}
